# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media and static files
/media/
/static/

# Environment
.env
venv/
env/

# VS Code settings
.vscode/

# OS junk
.DS_Store
Thumbs.db
